{% extends "base.html" %}

{% block head_content %}
    <title>Simulador</title>
{% endblock%}

{% block container %}
<div class="alert alert-primary text-md-center" role="alert">
            <strong>Aqui se mostrara el historial de tus movimientos!</strong>
        </div>
    <div class="container">
        <div class="row">

            {% for post in posts %}
                {% include 'posts/post_card.html' %}
            {% endfor %}
        </div>
    </div>
    {% include 'pagination.html' %}
{% endblock %}