<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 pt-3 pb-3 " id="profile-box">
            <div class="col-sm-4 d-flex justify-content-center">
                <img alt="@{{ user.username}}" class="rounded-circle" height="150px"
                     max-width="150px" src="{{ user.profile.picture.url }}"/>
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                    <!--a
                        href="{% url "users:update_profile" %}"
                        class="ml-5 btn btn-sm btn-outline-info"
                    >
                        Edit profile
                    </a-->
                    {% else %}
                    <a
                            class="ml-5 btn btn-sm btn-primary"
                            href=""
                    >
                        Follow
                    </a>
                    {% endif %}
                </h2>
                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>{{ user.profile.posts_count }}0</b> Ventas
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.followers }}0</b> Compras
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.following }}0</b> Monto Total
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p><b>Biografia:</b> {{ user.profile.biography }}</p>
                        <br>
                        <p><b>Sitio Web: </b>{{ user.profile.website }}</p>
                        <br>
                        <p><b>Numero Telefono:</b> {{ user.profile.phone_number }}</p>
                        <br>
                        <p><b>Creado: </b>{{ user.profile.created }}</p>
                        <br>
                        <p><b>Last Modified: </b>{{ user.profile.modified }}</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--div class="container" id="user-posts">
        <div class="row mt-3">
            {% for post in posts %}
            <div class="col-sm-4 pt-5 pb-5 pr-5 pl-5 d-flex justify-content-center align-items-center">
                <a href="{% url "posts:detail" post.id %}" class="border">
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div-->