{% extends "users/base.html" %}

{% block head_content %}
    <title>Login - Simulador</title>
{% endblock head_content %}

{% block container %}
	{% if form.errors %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<p>Tu Usuario y contraseña no coinciden. Porfavor Intentalo otra vez.</p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	{% if message %}
		<div class="alert alert-info alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	{% endif %}
<form method="POST" action="{% url 'users:login' %}">
	{% csrf_token %}
	<div class="form-group">
		<input class="form-control" name="username" placeholder="Usuario" type="text">
	</div>
	<div class="form-group">
		<input class="form-control" name="password" placeholder="Contraseña" type="password">
	</div>

	<button class="btn btn-outline-info btn-block mt-5" type="submit"><i class="lead">Entrar!</i></button>
</form>
	<!--div class="mx-auto mt-1" style="width: 300px;">
		<p>Not registered? <a href="{% url "users:signup" %}">Create an account</a></p>
	</div-->
{% endblock container %}